.mt-5 {
    margin-top: 0rem !important;
}
.Bestseller-author .image img{
    padding: 4rem;
    
}
.book-detail-description-style{
    color: rgb(233, 231, 231);
}
.bestseller-detail{
    margin: 4rem ;
}