@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Teko:wght@300..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: "Cardo", serif;
	height: 100%;
}

html {
	height: 100%;
}

.jumbotron-style {
	background-color: #1b3764;
}

.bg-light {
	background-color: none !important;
}

.social-link-style {
	height: 2.2rem;
	width: 2.2rem;
}

/* Styling for navbar social-media icons starts */
.nav-link i {
  margin-top: 0.5rem;
  font-size: 2rem;
}

/* Styling for navbar social-media icons ends */
button.btn.btn-warning.px-4 {
	border-radius: 0;
}

button.navbar-toggler.navbar-hamburger-style {
	color: white;
	background: white;
}

.welcome-style {
	font-family: "Cardo", serif;
	font-weight: 400;
	font-size: 24px;
}

.title-style {
	font-family: "Cardo", serif;
	font-weight: 700;
}

.description-style {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 19px;
}

.order-btn-style {
	border-radius: 0px;
}

.free-demo-style {
	font-family: "Cardo", serif;
	font-weight: 700;
	font-size: 18px;
	align-self: center;
}

.authors-book-style {
	font-family: "Cardo", serif;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	color: #1b3764;
}

.book-detail-head-style {
	font-family: "Cardo", serif;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	color: #1b3764;
}

.book-detail-description-style {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	color: #000000;
}

.vertical-line {
	border-right: 1px solid #ffca42;
}

.neglect-css p {
	margin: 0;
	padding: 0;
}

button.btn.btn-outline-warning.get-book-now-style.btn-lg {
	border-radius: 0px;
}

.col-md-5.card {
	margin-right: 2rem;
}

.footer-design {
	height: 5rem;
	background-color: #31363F;
	display: flex;
}

p.footer-text-style {
	color: white;
	font-size: 20px;
	font-weight: 500;
	align-self: end;
}

.fixed-nav {
  background-color: #222831; /*color palat is used from https://colorhunt.co/palette/22283131363f76abaeeeeeee color hunt site*/
  position: fixed;
  max-width: 100vw !important;
  --bs-gutter-x: 14rem;
  z-index: 1000;
}
.nav-item{
  z-index: 1000;
}

.my-5 {
  margin-top: 0rem !important;
  margin-bottom: 0vh !important;
}

.h-50 {
  height: 110% !important;
}

.container-fullscreen {
  height: 100vh;
  align-items: center;
  margin-top: 100vh;
}

.forefrontpage-img {
  display: flex;
  align-items: center;
}

@media(max-width:992px) {
  .fixed-nav {
    --bs-gutter-x: 1rem !important;
  }

  .my-5 {
    margin-top: 0rem !important;
    margin-bottom: 2vh !important;
  }

  .forefrontpage-img {
    display: grid !important;
  }

  .h-50 {
    height: 75vh !important;
  }

}

.orderForm {
  background-image: url("./images/Logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media(max-width:767px) {
  .my-5 {
    margin-top: 0rem !important;
    margin-bottom: 80vh !important;
  }
}
.hidden{
  opacity: 0;
  transition: all 2s;
  filter: blur(3px);
  transform: translateY(-80%);
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.background-set-without-blur{
  background:url(images/background.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.background-set{
  background:url(images/background.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.background-set::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.433);
}
.container{
  max-width: 100VW;
}
.forefrontpage-img img{
  position: relative;
}
.text-color{
  color: white !important;
  font-weight: 400;
}